fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pandas
openpyxl
celery
redis
python-dotenv

# --- Dependencias de Testing (Añadidas en Paso 8) ---
pytest
pytest-asyncio
httpx
bcrypt==3.2.0